<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>home.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <display-name>Yummy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Pagination</display-name>
    <servlet-name>Pagination</servlet-name>
    <servlet-class>home.Pagination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pagination</servlet-name>
    <url-pattern>/Pagination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>home.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProduct</display-name>
    <servlet-name>ViewProduct</servlet-name>
    <servlet-class>home.ViewProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProduct</servlet-name>
    <url-pattern>/ViewProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>home.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrder</display-name>
    <servlet-name>DeleteOrder</servlet-name>
    <servlet-class>home.DeleteOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrder</servlet-name>
    <url-pattern>/DeleteOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>home.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>home.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryHome</display-name>
    <servlet-name>CategoryHome</servlet-name>
    <servlet-class>category.CategoryHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryHome</servlet-name>
    <url-pattern>/CategoryHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryManager</display-name>
    <servlet-name>CategoryManager</servlet-name>
    <servlet-class>category.CategoryManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryManager</servlet-name>
    <url-pattern>/CategoryManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCategory</display-name>
    <servlet-name>CreateCategory</servlet-name>
    <servlet-class>category.CreateCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCategory</servlet-name>
    <url-pattern>/CreateCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategory</display-name>
    <servlet-name>DeleteCategory</servlet-name>
    <servlet-class>category.DeleteCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategory</servlet-name>
    <url-pattern>/DeleteCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCategory</display-name>
    <servlet-name>UpdateCategory</servlet-name>
    <servlet-class>category.UpdateCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategory</servlet-name>
    <url-pattern>/UpdateCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUpdateCategory</display-name>
    <servlet-name>GetUpdateCategory</servlet-name>
    <servlet-class>category.GetUpdateCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUpdateCategory</servlet-name>
    <url-pattern>/GetUpdateCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductManager</display-name>
    <servlet-name>ProductManager</servlet-name>
    <servlet-class>product.ProductManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductManager</servlet-name>
    <url-pattern>/ProductManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProduct</display-name>
    <servlet-name>CreateProduct</servlet-name>
    <servlet-class>product.CreateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProduct</servlet-name>
    <url-pattern>/CreateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>product.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>product.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUpdateProduct</display-name>
    <servlet-name>GetUpdateProduct</servlet-name>
    <servlet-class>product.GetUpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUpdateProduct</servlet-name>
    <url-pattern>/GetUpdateProduct</url-pattern>
  </servlet-mapping>
</web-app>